<%= form_with(model: boardgame, local: true) do |form| %>
  <% if boardgame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boardgame.errors.count, "error") %> prohibited this boardgame from being saved:</h2>

      <ul>
      <% boardgame.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :boardgame_name %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :boardgame_rating %>
  </div>

  <div class="field">
    <%= form.label :minplayer %>
    <%= form.text_field :minplayer, id: :boardgame_minplayer %>
  </div>

  <div class="field">
    <%= form.label :maxplayer %>
    <%= form.text_field :maxplayer, id: :boardgame_maxplayer %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration, id: :boardgame_duration %>
  </div>

  <div class="field">
    <%= form.label :owner %>
    <%= form.text_field :owner, id: :boardgame_owner %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
