<p id="notice"><%= notice %></p>

<h1>Boardgames</h1>

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th>Rating</th>
      <th>Minplayer</th>
      <th>Maxplayer</th>
      <th>Duration</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boardgames.each do |boardgame| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= boardgame.name %></td>
        <td><%= boardgame.rating %></td>
        <td><%= boardgame.minplayer %></td>
        <td><%= boardgame.maxplayer %></td>
        <td><%= boardgame.duration %></td>
        <td><%= boardgame.owner %></td>
        <td><%= link_to 'Show', boardgame %></td>
        <td><%= link_to 'Edit', edit_boardgame_path(boardgame) %></td>
        <td><%= link_to 'Destroy', boardgame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boardgame', new_boardgame_path %>
