<p id="notice"><%= notice %></p>

<h1>Boardgames</h1>

<div class="mdl-grid">
  <% @boardgames.each do |boardgame| %>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
      <div class="card-wide mdl-card mdl-shadow--2dp item">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text"><%= boardgame.name %></h2>
        </div>
        <div class="mdl-card__supporting-text">
          <p><strong>rating: </strong><%= boardgame.rating %></p>
          <p><strong>minPlayers: </strong><%= boardgame.minplayer %></p>
          <p><strong>maxPlayers: </strong><%= boardgame.maxplayer %></p>
          <p><strong>duration: </strong><%= boardgame.duration %></p>
          <p><strong>owner: </strong><%= boardgame.owner %></p>
          </ul>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <%= link_to 'Show', boardgame, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
            <%= link_to 'Edit', edit_boardgame_path(boardgame), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
            <%= link_to 'Destroy', boardgame, method: :delete, data: { confirm: 'Are you sure?' }, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>

<%= link_to 'New Boardgame', new_boardgame_path,  class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
