<p id="notice"><%= notice %></p>

<h1>Boardgames</h1>

<div class="mdl-grid">
  <% @boardgames.each do |boardgame| %>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
      <div class="card-wide mdl-card mdl-shadow--2dp item">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text"><%= boardgame.name %></h2>
        </div>
        <div class="mdl-card__supporting-text">
        <table class="mdl-data-table mdl-js-data-table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">rating</th>
              <th>minPlayers</th>
              <th>maxPlayers</th>
              <th>duration</th>
              <th>owner</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric"><%= boardgame.rating %></td>
              <td class="mdl-data-table__cell--non-numeric"><%= boardgame.minplayer %></td>
              <td class="mdl-data-table__cell--non-numeric"><%= boardgame.maxplayer %></td>
              <td class="mdl-data-table__cell--non-numeric"><%= boardgame.duration %></td>
              <td class="mdl-data-table__cell--non-numeric"><%= boardgame.owner %></td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <%= link_to 'Show', boardgame, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
            <%= link_to 'Edit', edit_boardgame_path(boardgame), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
            <%= link_to 'Destroy', boardgame, method: :delete, data: { confirm: 'Are you sure?' }, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>

<%= link_to 'New Boardgame', new_boardgame_path,  class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
