<p id="notice"><%= notice %></p>
<div class="card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"><%= @boardgame.name %></h2>
    </div>
  <div class="mdl-card__supporting-text">
    <p><strong>rating:</strong><%= @boardgame.rating %></p>
    <p><strong>minplayer:</strong><%= @boardgame.minplayer %></p>
    <p><strong>maxplayer:</strong><%= @boardgame.maxplayer %></p>
    <p><strong>duration:</strong><%= @boardgame.duration %></p>
    <p><strong>owner:</strong><%= @boardgame.owner %></p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <%= link_to 'Edit', edit_boardgame_path(@boardgame), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
    <%= link_to 'Back', boardgames_path, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
  </div>
</div>

